.shadow-sm {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10)
}
/* @keyframes bounce {
    0%, 100% {
        transform: translateX(-25%) rotate(130deg);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: translateX(25%) rotate(130deg);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
} */
/* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-20px);
    }
    60% {
      transform: translateX(20px);
    }
  }
.animate-bounce-right {
    animation: bounce 5s infinite;
} */